<!doctype html>
<html lang="en-US" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"></meta>
<meta http-equiv="Content-Type" content="text/html"></meta>
<title>Examen Componentes</title>
</head>
<body>
	<div>
		<h1>Taller</h1>
		<ul>
			<li><a href="/TallerInsertar">Insertar</a></li>
			<li><a href="/TallerListar">Listar</a></li>
			<li><a href="/TallerEditar">Listar</a></li>
		</ul>
		
		<h2>Categorias</h2>
		<ul>
		<li><a href="/CategoriaInsertar">Insertar</a></li>
		<li><a href="/CategoriaListar">Listar</a></li>
		<li><a href="/TallerEditar">Editar</a></li>
		</ul>
		
		<h2>Tarea</h2>
		<li><a href="">Insertar</a></li>

	</div>
</body>
</html>